<div *ngIf="student">
    <h2>{{student.jmbag}} - detalji studenta</h2>
    <div><span>JMBAG: </span>{{student.jmbag}}</div>
    <div><span>Ime: </span>{{student.firstName}}</div>
    <div><span>Prezime: </span>{{student.lastName}}</div>
    <div *ngIf="address"><span>Adresa: </span> {{address.addressLine1}}, {{address.city}} ({{address.zipCode}})</div>
    <div><span>Broj ECTS bodova: </span>{{student.ectsPoints}}</div>
    <div *ngIf="student.hasToPayTuition">Student treba platiti Skolarinu.</div>
</div>

<div>
    <h3>Kolegiji na koje je student upisan</h3>
    <ul class="students">
        <li *ngFor="let course of courses">
            {{course.name}} ({{course.ectsPoints}} ECTS)
        </li>
    </ul>
</div>
